<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang = "en" lang="en">
    <head>
      <title><%= @title || "LALA" %></title>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <div>
            <%= image_tag "noodlebanner.jpg"%>
        </div>
        <% if session[:login].nil? %>
            <div> <%= link_to '[Log in]', login_users_path %></div>
        <% else %>
            <div>Logged in as <%= session[:login] %>.  <%= link_to '[Logout]', logout_users_path %> </div>
        <% end %>
        
        <%= yield %>

    </body>
</html>
