<div>
    <h1>Log in here</h1>
    <div><%= link_to 'Register', new_user_path %></div>
    <% unless session[:login_error].nil? %>
        <% if session[:login_error] == "!password" %>
            <div id="error explanation"><p> Incorrect password. </p></div>
        <% else %>
            <div id="error explanation"><p> No user with login '<%=session[:login_error]%>' was found. </p></div>
        <% end %>
    <% end %>
    <div><%= form_tag(:action => 'post_login') do %>
        <div><p>Login: <%= text_field_tag(:login) %></p></div>
        <div><p>Password: <%= password_field_tag(:password) %></p></div>
        <div><%= submit_tag 'Login' %></div>
    <% end %></div>
</div>

<div><%= link_to 'Back', users_path %></div>
