<!DOCTYPE html>
<html>
<head>
  <title><%= @title || LALA %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
<%= image_tag "noodlebanner.jpg"%>
</div>

<%= yield %>

</body>
</html>
