<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "LALA" %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
<%= image_tag "noodlebanner.jpg"%>
</div>

<%= yield %>

</body>
</html>
